@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@layer components {
    .prose a {
        text-decoration-thickness: 2px;
    }

    .prose table a {
        text-decoration: none;
    }

    .prose table a:hover {
        text-decoration: underline;
    }
}
